 .Name    {
  text-align: center;
  color: rgb(148, 79, 33);
}  
office-address    {
text-align: right;
}

nav a{
  text-align: center;
  color: rgb(143, 143, 182);
  padding: 0.5em;
  margin:3em;
}

nav {
  text-align: center;
  background-color: rgb(136, 0, 0);
  border-radius: 10px;
}

p{
  text-align: center;
}
.head {
  background-color: rgb(105, 37, 37);
  border-radius: 10px;
}
h2 {
  background-image: url();
}

.learn {
  background-color: burlywood;
  font-size: 20px;
}
 header  {
  text-align: center;


}


    


  
















































































